.searchResultsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 5rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.resultImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.6;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.fullWidthLink {
    position: relative;
    display: block;

    &:hover .caption {
        opacity: 0;
    }

    &:hover .resultImage {
        transform: scale(1.1);
        opacity: 1;
    }
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 20px;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}